<h2 id='headline'>Delete <%= @tape.tape_name %></h2>
<div class='padding col-sm-2 col-md-3'></div>
<form class='admin-form col-xs-12 col-sm-9 col-md-6' method='POST' action='/<%= @tape.id %>/delete'>
	

	

	<input type='submit'>
</form>